// Color
$primary-color          : #41b883;
$info-color             : #1d8ce0;
$success-color          : #41b883;
$warning-color          : #ffa000;
$error-color            : #F60000;
$link-color             : #35495e;
$subsidiary-color       : #9ea3b1;

// Border color
$border-color-base      : #dddee1;  // outside
$border-color-split     : #eeeff1;  // inside
$table-td-hover-bg      : #fafafa;

// Background color
$background-color-base  : #f1f2f7;  // base
$menu-dark-active-bg    : #171e2e;
$menu-dark-title        : #1c2438;

$btn-border-radius:8px;
